[Unit]
Description="Flask demo app"
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/app/
ExecStart=/opt/app/main.py
Restart=always

[Install]
WantedBy=multi-user.target